<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
{% for item in news %}
    <div class="newscard"
         onclick="location.href='https://vk.com/wall{{item.from_id}}_{{item.post_id}}'">
        <div style="margin-bottom: 20px; height: 120px; border-bottom: 2px solid lightgrey">
            <img src= "{{users[item.from_id].photo_100}}" style="float: left;"/>
            <div style="float: left; margin-left: 20px; height: 100px; padding-top: 25px;">
                        <span style="font-size: x-large; color: #597da3;">{{users[item['from_id']]['first_name']}}
                    {{users[item.from_id].last_name}}</span></br>
                    <span style="font-size: medium; color: gray;">{{item.date}}</span>
            </div></br>
        </div>
        {{item.text}}
        {% for attachment in item.attachments %}
            {% if 'photo' in attachment %}
                <img src= "{{ attachment['photo']['src_big'] }}"
                     style="margin-top: 20px; width: 600px;" />
            {% endif %}
        {% endfor %}</br>
        {% if item.original_post %}
        </br>
        {% for post in item.original_post %}
            <div style="border-left: 3px solid lightgrey; width: auto; padding-left: 20px">
                {{post.text}}</br>
                {% for attachment in post.attachments %}
                {% if 'photo' in attachment %}
                <img src= "{{ attachment['photo']['src_big'] }}"
                     style="margin-top: 20px; width: 100%;" />
                {% endif %}
                {% endfor %}</br>
        {% endfor %}
        {% for post in item.original_post %}
            </div>
        {% endfor %}
        {% endif %}
        <div style="margin-top: 20px; height: 10px; border-top: 2px solid lightgrey; padding-top: 15px; padding-bottom: 5px;">
            <img src= "../static/likes.jpg" style="float: left; width: 22px; margin-right: 10px;"/>
            <span style="float: left; color: #597da3; font-size: large;"> {{item.likes}} </span>
            <img src= "../static/reposts.png" style="float: left; width: 22px; margin: 0px 10px;"/>
            <span style="float: left; color: #597da3; font-size: large;"> {{item.reposts}} </span>
            <img src= "../static/comments.png" style="float: left; width: 22px; margin: 0px 10px;"/>
            <span style="float: left; color: #597da3; font-size: large;"> {{item.comments}} </span>
        </div>
    </div>
{% endfor %}
</body>
</html>