body {
    background-color: #597da3;
}

.usercard {
    margin: 20px;
    background-color: white;
    color: #597da3;
    height: 190px;
    -webkit-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 17px 1px rgba(0,0,0,0.75);
    width: 150px;
    float: left;
    cursor: pointer;
    text-align: center;
}

.newscard {
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 17px 0px rgba(0,0,0,0.75);
    width: 600px;
    cursor: pointer;
}

.usercard:hover, .newscard:hover {
    -webkit-box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px 2px rgba(0,0,0,0.75);
}
