<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div style="margin: auto;
            width: 850px;">
        {% for item in members %}
        <div class="usercard"
             onclick="location.href='/thread/{{item.user_id}}/likes'">
            <img src="{{item.photo}}" style="width: 130px; height: 130px;
            border-top-left-radius: 12px; border-top-right-radius: 12px;" />
            <strong style="vertical-align: middle; line-height: 20px">{{item.first_name}}</br>
            {{item.last_name}}</strong>
        </div>
        {% endfor %}
    </div>
</body>
</html>